/* dark-mode.css */

body.dark-mode {
  background-color: #2c2c2c;
  color: #f1f1f1;
}

.dark-mode .bg-light-blue {
  background-color: #3b3b3b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Add any other dark mode specific styles here */
